.registrationPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $parent-container-width;
  height: $parent-container-height;
}

.registrationFrom {
  width: 30rem;
  height: 30rem;
  border: 1px solid black;
}
